body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
input {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background: #6a8d92;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #4a6c6f;
}
.transactions {
  margin-top: 20px;
  width: 300px;
}

.transactions-title {
}

.transaction {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
}
.approved {
  background: #80b192;
}
.declined {
  background: #ed474a;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 30%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: -0.6rem;
}

.modal-input {
  position: absolute;
  transform: translate(-50%, -10%);
  left: 50%;
  width: 40%;
  height: 20%;
  text-align: center;
  font-size: 2rem;

  border-radius: 5px;
  border: 2px solid #4a6c6f;
  padding: 1rem;
}

.modal-input:focus {
  outline: none;
  border: 2px solid #364f53;
}

.modal-btn {
  position: absolute;
  left: 50%;
  height: 7.6%;
  min-height: 2rem;
  transform: translate(-50%, -50%);
  width: 52%;
  text-align: center;
}

.pay-btn {
  bottom: 16%;
}

.close-modal-btn {
  bottom: 7%;
  background: #ed6a5a;
}

.close-modal-btn:hover {
  background: #be3320;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
